// primary scheme
$scout: #2B2D42;
$sawyer: #8D99AE;
$soho: #EDF2F4;
$finn: #EF233C;
$roxy: #D90429;

// secondary scheme
$eugene: #114b5f;
$pimm: #028090;
$marley: #e4fde1;
$sansa: #456990;
$nora: #f45b69;

.navbar {
  margin-bottom: 0 !important;
}

.notifications {
  padding-top: 1em;
  margin-bottom: 1em;
}

.dog-avatar {
  padding: 1em 0;
  width: 200px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid $sawyer;
}

.centered {
  margin: 0 auto;
}

.card {
  border: 3px solid $sawyer;
  background-color: $soho;
  border-radius: 10px;
  color: $scout;
  padding: 1em 1em;
  margin-bottom: 1em; 

  &.profile-card {
    text-align: center;
    padding: 3em 4em;
    height: 500px;

    .basic-info {
      margin: 2em auto 0.5em auto;
      height: 150px;
    }
  }

  &.feed-card {
    padding: 2em 2em;
    .feed-text {
      margin: 1em 0;
    }
    .timestamp {
      float: right;
    }
  }
}

.btn.more {
  padding-bottom: 1em;    
}